@import url('couleur.css');

/* Texte avec dégradé */
.text-gradient {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, var(--orfoncer), var(--orclaire));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Images dans le carrousel */
.carousel-inner img {
    max-height: 300px;
    object-fit: cover;
}

/* Légendes du carrousel */
.carousel-caption {
    padding: 10px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-style: bold;
}

/* Titres des sections */
h2.section-title {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

h2.section-title.active {
    border-bottom: 0px solid var(--orclaire);
    background: linear-gradient(to right, var(--orfoncer), var(--orclaire));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2.text-center {
    border-bottom: 2px solid var(--orclaire);
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

h3.text-center {
    margin-bottom: 20px;
}

/* Paragraphes */
section p {
    font-size: 12px;
    color: #333;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* Boutons */
.button-margin {
    margin-top: 20px;
}

section button:hover {
    background: var(--orfoncer);
}

.btn-outline-dark {
    border-radius: 0px;
    border: 2px solid #000;
    color: black;
}

.btn-outline-dark:hover {
    background-color: #000;
    color: white;
}

.btn-dark {
    border-radius: 0px;
    background-color: #000;
    color: white;
}

.btn-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.img-fluid {
    max-height: 300px;
    margin-right: 15px;
}

.bordergold {
    margin-top: 0px;
    border-bottom: 2px solid var(--orclaire);
}

.newsletter {
    background-color: #FAE8D5;
    padding: 15px 0;
    border-top: 1px solid #000000;
}

.newsletter .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.newsletter-title h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.newsletter-text p {
    margin: 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.newsletter-btn .btn {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: bold;
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    text-decoration: none;
}

.newsletter-btn .btn:hover {
    background-color: #333;
}

/* Styles pour appareils mobiles */
@media (max-width: 992px) {
    .newsletter .container {
        flex-direction: column;
        text-align: center;
    }

    .newsletter-title h4 {
        font-size: 14px;
    }

    .newsletter-text p {
        font-size: 12px;
        margin: 10px 0;
    }

    .newsletter-btn .btn {
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin-top: 10px;
    }
}

.carousel-container {
    position: relative;
    overflow: hidden;
    max-width: 100%; 
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px; 
    justify-content: center;
    align-items: center;
}

.carousel-item {
    text-align: center;
    box-sizing: border-box;
}

.carousel-item img {
    max-height: 250px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
}

.carousel-control-next img, 
.carousel-control-prev img {
    width: 50px;
    height: 50px; 
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    min-width: 285px;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.product-img {
    max-width: 240px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-info {
    text-align: center;
}

.product-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    line-height: 1.3;
}

.product-prix {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin: 0px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
}

.modal-content img {
    max-height: 300px;
    max-width: 275px;
    margin-right: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 14px;
    color: #555;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.modal-content .doree {
    color: #c89f65;
    font-weight: bold;
    font-size: 16px;
}

.modal-content .btn {
    margin-top: 20px;
}

.modal-border{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem;
    border: 1px solid #ccc;
}

.close-cross {
    position: absolute;
    top: 14px;
    right: 22px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-cross:hover {
    color: #c89f65;
}

@media (max-width: 576px) {
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-item {
        margin-bottom: 20px;
        padding: 10px;
        max-width: 260px;
    }

    .product-img {
        height: 260px;
        object-fit: cover;
    }

    .product-title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .product-prix {
        font-size: 14px;
    }

    .pagination a {
        padding: 8px 12px;
        font-size: 12px;
    }

    form .form-select {
        width: 100%;
    }

    h1.text-center.bordergold {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--orclaire);
    }

    .modal-content {
        padding: 15px;
    }

    .modal-content img {
        max-height: 200px;
        margin-bottom: 15px;
    }

    .modal-content h2 {
        font-size: 18px;
    }

    .modal-content p {
        font-size: 14px;
    }

    .modal-content .btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    .carousel-control-next img,
    .carousel-control-prev img {
        width: 40px;
        height: 40px;
    }

    .carousel-item img {
        max-height: 200px;
    }

    .tri-align{
        justify-content: center;
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-item {
    margin: 0 10px; 
    width: 23%;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1200px) {
    .product-item {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .product-item {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .product-item {
        width: 100%;
        margin-bottom: 10px;
    }
}
