@import url('couleur.css');

.privacy-section {
    margin-bottom: 30px;
    padding: 15px;
    border-left: 5px solid var(--orfoncer);
    border-radius: 4px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1.text-gradient, h2.section-title {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, var(--orfoncer), var(--orclaire));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 20px;
}

.privacy-section ul {
    padding-left: 20px;
}

.privacy-section ul li {
    font-size: 14px;
    line-height: 1.8;
    color: #333;
}

.privacy-section p {
    font-size: 14px;
    line-height: 1.6;
    color: #444;
}

.pagestyle {
    min-height: 700px;
    margin-top: 100px;
}