body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.navbar-nav .nav-link {
    font-weight: semi-bold;
    color: #000;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background: conic-gradient(from 45deg, #7A6C29, #C7B254, #7A6C29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-brand img {
    height: 40px;
    max-height: 100%;
    max-width: auto;
    object-fit: contain;
}

.d-flex.align-items-center .btn-link img {
    height: 25px;
    width: auto;
    transition: transform 0.3s ease;
}

.d-flex.align-items-center .btn-link img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px #B9A64D);
}

.search-bar {
    border: 1px solid #ddd; 
    transition: border-color 0.3s ease;
    font-size: 12px;
}

.search-bar:focus {
    border-color: #B9A64D;
    outline: none;
}

.search-results {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    max-height: 300px; 
    overflow-y: auto; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    display: none;
}

.search-results .result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-results .result-item:hover {
    background-color: #f0f0f0;
    color: #333;
}

.search-results .no-results {
    padding: 10px;
    color: #888;
    font-style: italic;
    text-align: center;
}

.search-results .selected {
    background-color: #f0f0f0;
    color: #333;
}

/* Ajustements pour appareils mobiles */
@media (max-width: 992px) {
    .navbar {
        font-size: 12px;
    }
    .navbar-brand img {
        height: 50px;
    }
    .d-flex.align-items-center .btn-link img {
        height: 25px;
    }
    .search-bar {
        font-size: 12px;
    }
}

.doree{
    background: linear-gradient(to right, #7A6C29, #C7B254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--------------------------------*/
/*      Style pour le panier      */

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

#cartItems {
    margin-top: 20px;
    max-height: 73vh;
    overflow-y: auto;
    flex-grow: 1;
}

#cartTotal {
    font-weight: bold;
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.cart-item {
    padding: 10px 0;
}

.cart-item .btn {
    padding: 5px 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

.cart-item .btn:hover {
    background-color: #f1f1f1;
}

.cart-item input[type="number"] {
    width: 60px;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}

.cart-item input[type="number"]::-webkit-outer-spin-button,
.cart-item input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.finalize-button {
    width: 100%;
    padding: 15px;
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.finalize-button:hover {
    background: linear-gradient(to right, #7A6C29, #C7B254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close-cross {
    position: absolute;
    top: 14px;
    right: 22px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-cross:hover {
    color: #c89f65;
}

/*--------------------------------*/
/*      Style pour le profil      */

.user-sidebar {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1050;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-header h5 {
    margin: 0;
}

.user-details {
    margin-top: 20px;
}

.editProfil {
    width: 100%;
    padding: 15px;
    color: #000;
    background-color: #f8f9fa;
    border: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.editProfil:hover {
    background: linear-gradient(to right, #7A6C29, #C7B254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.deconnexion {
    width: 100%;
    padding: 15px;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    border-radius: 5px;
}

.deconnexion:hover {
    background: #e2e2e2;
    color: #7A6C29;
    border-color: #7A6C29;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 90%;
}

.modal-content img {
    max-height: 300px;
    max-width: 275px;
    margin-right: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 14px;
    color: #555;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.modal-content .doree {
    color: #c89f65;
    font-weight: bold;
    font-size: 16px;
}

.modal-content .btn {
    margin-top: 20px;
}

.modal-border{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem;
    border: 1px solid #ccc;
}

.close-cross {
    position: absolute;
    top: 14px;
    right: 22px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-cross:hover {
    color: #c89f65;
}

#categories-menu {
    display: none;
}

#menu-boutique:hover #categories-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10; 
}

.dropdown-item {
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
